
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Money Remed</title>
        <link href="/user/user.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/user/navbar.css" />

        <script src="/user/userScrpt.js"></script>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        
       
    </head>
    <body>

        <nav class="navbar navbar-def navbar-fixed-top">
            <div class="container-fluid ">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../">
                        <img style="margin-top: -10px; width: 20vh; height: 5vh; " alt="brand" src="/images/logo/logo.png">
                  </a>
              </div>
          
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a></li>
                    <li onclick="loginClick()"><a href="#" ><i class="fa fa-amazon" aria-hidden="true"></i> Login</a></li>
                    <li onclick="regClick()"><a href="#" ><i class="fa fa-amazon" aria-hidden="true"></i> Register</a></li>
                    
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>

        <!-- check alredy login -->
        <input type="hidden" id="allredyloginuserID" value="<%=allredylogin%>">
        <!-- check alredy login -->

        <div  class="container-fluid">
        <!-- User Login -->
        
            <div id="loginPanel" style="margin-top:3vh; display: none;" class="row">
                <div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
                    <div class="panel panel-success">
                          <div class="panel-heading">
                                <h3 class="panel-title">Login</h3>
                          </div>
                          <div class="panel-body">
                                
                                <div class="form-group">
                                    <label>Username</label>
                                        <input type="text" name="" id="input" class="form-control" placeholder="User Email">
                                </div>

                                <div class="form-group">
                                    <label>Password</label>
                                        <input type="password" name="" id="input" class="form-control" placeholder="Password">
                                </div>
                                <button type="button" class="btn btn-primary">Login</button>
                                
                          </div>
                    </div>
                    
                </div>
            </div>
        
            
        <!-- User Login End-->

         <!-- User Register -->

         <div id="RegistrationPanel" style="margin-top:3vh; display: none;" class="row">
            <div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
                <div class="panel panel-success">
                      <div class="panel-heading">
                            <h3 class="panel-title">Register New Partner</h3>
                      </div>
                      <div class="panel-body">
                            <div class="form-group">
                                <label>Username</label>
                                    <input type="text"  id="regEmail" class="form-control" placeholder="Email ie hkdhkfhs@gmail.com">
                            </div>

                            <div class="form-group">
                                <label>Password</label>
                                    <input type="password"  id="regPassword" class="form-control" placeholder="6 to 18 Chracter">
                            </div>

                            <div class="form-group">
                                <label>Full Name</label>
                                    <input type="text"  id="regUserName" class="form-control" placeholder="ei: Sushanta Majumder">
                            </div>

                            <div class="form-group">
                                <label>Address</label>
                                   <textarea id="regAddress" class="form-control" rows="3" ></textarea>
                            </div>
                            <div class="form-group">
                                <label>Mobile Number</label>
                                    <input type="number"  id="regMobile" class="form-control" placeholder=" 10 Digit Number">
                            </div>
                            
                            
                            <div class="form-group">
                                <label>Sponsor ID</label>
                                    <input onkeydown="searchdown()" onkeyup="searchup()" type="text"  id="sponsorID" class="form-control" placeholder="Sponsor ID : ei 10234">
                            </div>

                            <div class="form-group">
                                <label>Sponsor Name</label>
                                    <input type="text"  id="SponsorName" class="form-control" readonly>
                                    <input type="text"  id="SponsorRootID" class="form-control" readonly>
                            </div>
                            <div class="form-group">
                                <label>Pan Number</label>
                                    <input type="text"  id="regPan" class="form-control" >
                            </div>

                            <div class="form-group">
                                <label>Column</label>
                                    <select id="regColumn" class="form-control" required="required">
                                        <option value="">Select Column</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                    
                            </div>

                            <button onclick="newPetnerRegister()" type="button" class="btn btn-primary">Register</button>
                            
                      </div>
                </div>
                
            </div>
        </div>


        <!-- User Register End-->

        <!-- User Pannel -->
        <div id="UserPanel" style="margin-top:3vh; display: none;" class="row">
        <h1>WelCome</h1>
        </div>
        <!-- User Pannel End -->
        </div>




       
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
